.bg-color-1{
    background: #3956de12;
}
.bg-color-2{
    background: #1097bd12;
}
.p-6{
  padding: 40px;
}

/* @media (min-width: 576px) { ... } */

/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { } */

 /* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

 /* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */

