.nav-link {
    color: #9b9bae;
    padding: 6px 0;
    background-color: initial !important;
    line-height: 26px;
    margin: 0 18px;
    font-weight: 500;
    font-size: 15.5px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}
.blue{
    fill: blue;
}
.logo-img{
    vertical-align: baseline;
}
.active{
    color: blue !important;
}


/* @media (min-width: 576px) { ... } */

/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { } */

 /* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

 /* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */